#cabecera{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
    padding: 20px;
    bottom: -50;
    color: white;
    left: 40px;
}
#urgentedatos{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #FF0A71;
    padding: 10px;
    width: 600px;
    height: 100px;
    display: inline-block;
    text-align: center;
}

#terminadodatos{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #C9E265;
    padding: 10px;
    width: 600px;
    height: 100px;
    display: inline-block;
    text-align: center;
}
#nuevodatos{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #55AADB;
    padding: 10px;
    width: 600px;
    height: 100px;
    display: inline-block;
    text-align: center;
}
#urgenteingreso{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #FF0A71;
    padding: 10px;
    width: 300px;
    height: 100px;
    left: 100px;
    display: inline-block;
    text-align: center;
}

#terminadoingreso{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #C9E265;
    padding: 10px;
    width: 300px;
    height: 100px;
    display: inline-block;
    text-align: center;

}
#nuevoingreso{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #55AADB;
    padding: 10px;
    width: 300px;
    height: 100px;
    display: inline-block;
    text-align: center;
}

#urgenteestado{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #FF0A71;
    padding: 10px;
    width: 250px;
    height: 100px;
    display: inline-block;
    text-align: center;
}

#terminadoestado{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #C9E265;
    padding: 10px;
    width: 250px;
    height: 100px;
    display: inline-block;
    text-align: center;
}
#nuevoestado{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background: #55AADB;
    padding: 10px;
    width: 250px;
    height: 100px;
    display: inline-block;
    text-align: center;
}

.cajas{
    position: relative;
    bottom: 150px;
    left: 40px;
    right: 80px;

}
.line{
    position: relative;
    bottom: 100px;
    display: inline-block;
}
#line1{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 20px;
    color: white;
    left: 30px;
    display: inline-block;
}
#line2{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 20px;
    color: white;
    left: 650px;
    display: inline-block;
}
#line3{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 20px;
    color: white;
    left: 850px;
    display: inline-block;
}
#line4{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    padding: 0px;
    color: white;
    display: inline-block;
    left: 1080px;
}

#espacio{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1px;
    padding: 10px;
    color: white;
    display: inline-block;
}

#logo{
    height: 80px;
    width: 180px;
    position:relative;
    left: 1660px;
    bottom: 180px;
}

.countdown{
    color: white;
    left: 1400px;
    bottom: 610px;
    position: absolute;
    font-size: 25px;
}
.countdown1{
    color: white;
    left: 1400px;
    bottom: 430px;
    position: absolute;
    font-size: 25px;
}
.countdown2{
    color: white;
    left: 1400px;
    bottom: 250px;
    position: absolute;
    font-size: 25px;
}
.countdown3{
    color: white;
    left: 1400px;
    bottom: 70px;
    position: absolute;
    font-size: 25px;
}
#days{
    left: 1000 px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 2px;
    color: white;
}

#hours{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}
#minutes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}

#seconds{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}

#days1{
    left: 1000 px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 2px;
    color: white;
}

#hours1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}
#minutes1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}

#seconds1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}
#days2{
    left: 1000 px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 2px;
    color: white;
}

#hours2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}
#minutes2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}

#seconds2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}

#days3{
    left: 1000 px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 2px;
    color: white;
}

#hours3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}
#minutes3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}

#seconds3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 20px;
    color: white;
}